h1{
    text-align: center;
}
table{
    text-align: right;
    margin: 0 auto;
}
table tr{
    line-height: 40px;
}
table tr td:nth-child(2){
    text-align: left;
    padding-left: 20px;
}

#birthday{
    width: 60%;
}
#address,#city{
    width: 50%;
}
#zip{
    width: 50%;
}

.button{
   text-align: center;
}
.button 